@font-face {
    font-family: Lugrasimo;
    src: url(../fonts/Lugrasimo-Regular.ttf);
}

@font-face {
    font-family: Rakkas;
    src: url(../fonts/Rakkas-Regular.ttf);
}

.menuContainer {
    -fx-background-image: url(../images/menu_background.jpeg);
    -fx-background-size: cover;
}

.mainTitle {
    -fx-font-family: 'Rakkas';
    -fx-font-size: 52px; 
    -fx-text-fill: #e3a72f;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 4, 1, 0px, 0px);
}

.menuButton {
    -fx-font-family: 'Lugrasimo';
    -fx-font-size: 24px; 
    -fx-background-color: transparent; /* Set background color to transparent */
    -fx-border-color: transparent; /* Set border color to transparent */
    -fx-text-fill: gold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 2, 1, 0px, 0px);
}

.menuButton:hover {
    -fx-text-fill: orange; /* Change text color to orange on hover */
    -fx-cursor: hand;
}

.menuButton:pressed {
    -fx-text-fill: red; /* Change text color to red when clicked */
}

.menuText {
    -fx-font-family: 'Lugrasimo';
    -fx-font-size: 24px; 
    -fx-text-fill: rgb(255, 249, 217);
}

.menuSubPane{
    -fx-background-color:rgba(0,0,0,0.5);
}

.menuSubPane > .viewport {
    -fx-background-color: transparent;
}

.character:hover {
    -fx-border-color: white;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.521), 2, 1, 0px, 0px);
    -fx-cursor: hand;
}

ComboBox {
    -fx-font-family: 'Lugrasimo';
    -fx-background-color: gold;
}

ComboBox:hover {
    -fx-background-color: orange;
}